<div class="container">
  <div id="editor-wrapper"></div>
</div>

<div class="modal" id="input-modal">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3>Widget Properties</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
      <button id="input-cancel" data-dismiss="modal" class="btn btn-large">Cancel</button>
      <button id="input-ok" class="btn btn-primary btn-large input-ok">OK</button>
  </div>
</div>
