
<!DOCTYPE html>
<html>
    <head>
        <title>CGF Training Tools - Login</title>
        <!----<link rel="stylesheet" href="Put your css files here" type="text/css">  --->
    </head>
    <body>
        <header>
        <div id="header_wrapper">
            <!---fill in the source image files src="#"-->
            <h1 id="cgf_logo"><img src="#" width="280px" height="190px"/>
        </div>
        </header>
        
      
        <div id="top_container">
            <h2>Login</h2>
            <div class="username_password">
                <!---fill in the action file.php in action="#"-->
                <form action="#" method="post">
                <h3>Username</h3>
                <p><input type="text" name="username"/></p>
                <h3>Password</h3>
                <p><input type="text" name="password"/></p>
                <a href="#" class="forgot_password">Forgot Password?</a>
                <p><input type="submit" /></p>
            </div>
        </div>
        <footer>
			<div id="footer_nav">
				<div id="footer_nav_wrapper">
					<ul>
					    <!-- fill in the source pages in href="#"-->
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</footer>
    </body>
</html>
